<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
  
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Account</a>
        <a href="/login" style="float: right;"> Login</a>
        <a href="/add-Card"> AddCard</a>
        <a href="/HomeCards">Danh sách Card</a>
        <a href="/Homeloai">Danh sách loai</a>

      </div>
      
</body>
</html>